* {
    padding: 0;
    margin: 0;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 15px 40px;
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0 0 50px 10px #a0a0a0;
    background-color: white;
    flex-wrap: wrap;
}
header a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    border: 0;
    transition: all 0.3s;
}
/* main */
main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 27%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px 10px #d4d3d3;
    border: 1px solid #c6c6c6;
    cursor: pointer;
}
.descript {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.descript h3 {
    border-bottom: 1px solid #676767;
}
.descript p {
    padding: 10px 0 ;
}
.descript span {
    background-color: #b3b3b3;
    border-radius: 100px;
    color: #676767;
    font-size: 0.9rem;
    padding: 5px;
}
/* footer */
footer p {
    margin-top: 4rem;
    text-align: center;
    color: #898D98;
}
/* hover */
header a:hover {
    border-bottom: 2px solid #000000;
    transition: all 0.3s;
}
.card:hover {
    border: 1px solid #0078D4;
}

/* phone */
@media (width <= 850px) {
    header {
        height: 20vh;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
    }
    header a {
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }
    .descript span {
        background-color: #00000000;
    }
    .card {
        flex-direction: column;
        width: 37%;
    }
}
@media (width <= 320px) {
    header {
        height: 20vh;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
    }
    header h1 {
        display: none;
    }
    header a {
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 10px;
    }
    .card {
        flex-direction: column;
        width: 50%;
    }
}